<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Uppercase</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>uni021A</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>_A_l</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>_A_r</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
	</array>
	<key>_C_l</key>
	<array>
		<string>Ccaron'</string>
		<string>Ccedilla</string>
	</array>
	<key>_D_l</key>
	<array>
		<string>D'</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
	</array>
	<key>_E_l</key>
	<array>
		<string>AE'</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>OE</string>
	</array>
	<key>_Eth_r</key>
	<array>
		<string>Dcroat'</string>
	</array>
	<key>_F_l</key>
	<array>
		<string>F'</string>
	</array>
	<key>_G_l</key>
	<array>
		<string>G'</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
	</array>
	<key>_H_l</key>
	<array>
		<string>H'</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
	</array>
	<key>_H_r</key>
	<array>
		<string>D'</string>
		<string>Dcaron</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>H</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>_I_l</key>
	<array>
		<string>I'</string>
	</array>
	<key>_I_r</key>
	<array>
		<string>I'</string>
	</array>
	<key>_J_r</key>
	<array>
		<string>J'</string>
	</array>
	<key>_K_l</key>
	<array>
		<string>K'</string>
		<string>Kcommaaccent</string>
	</array>
	<key>_L_l</key>
	<array>
		<string>L'</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
	</array>
	<key>_O_l</key>
	<array>
		<string>O'</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>_O_r</key>
	<array>
		<string>Ccaron'</string>
		<string>Ccedilla</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
	</array>
	<key>_P_l</key>
	<array>
		<string>P'</string>
	</array>
	<key>_R_l</key>
	<array>
		<string>R'</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>_S_l</key>
	<array>
		<string>S'</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
	</array>
	<key>_S_r</key>
	<array>
		<string>S'</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
	</array>
	<key>_T_l</key>
	<array>
		<string>T'</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>uni021A</string>
	</array>
	<key>_T_r</key>
	<array>
		<string>T'</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>uni021A</string>
	</array>
	<key>_U_l</key>
	<array>
		<string>U'</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>_U_r</key>
	<array>
		<string>U'</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>_V_l</key>
	<array>
		<string>V'</string>
	</array>
	<key>_V_r</key>
	<array>
		<string>V'</string>
	</array>
	<key>_W_l</key>
	<array>
		<string>W'</string>
	</array>
	<key>_W_r</key>
	<array>
		<string>W'</string>
	</array>
	<key>_X_l</key>
	<array>
		<string>X'</string>
	</array>
	<key>_X_r</key>
	<array>
		<string>X'</string>
	</array>
	<key>_Y_l</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>_Y_r</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>_Z_l</key>
	<array>
		<string>Z'</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>_Z_r</key>
	<array>
		<string>Z'</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>_b_r</key>
	<array>
		<string>b'</string>
	</array>
	<key>_c_l</key>
	<array>
		<string>c'</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
	</array>
	<key>_c_r</key>
	<array>
		<string>c'</string>
		<string>cacute</string>
		<string>ccedilla</string>
	</array>
	<key>_colon_l</key>
	<array>
		<string>bullet'</string>
		<string>colon</string>
		<string>periodcentered</string>
		<string>semicolon</string>
	</array>
	<key>_colon_r</key>
	<array>
		<string>bullet'</string>
		<string>colon</string>
		<string>periodcentered</string>
		<string>semicolon</string>
	</array>
	<key>_d_l</key>
	<array>
		<string>d'</string>
	</array>
	<key>_dcaron_l</key>
	<array>
		<string>lcaron'</string>
	</array>
	<key>_e_l</key>
	<array>
		<string>ae'</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>oe</string>
	</array>
	<key>_e_r</key>
	<array>
		<string>e'</string>
		<string>eacute</string>
		<string>edotaccent</string>
		<string>eogonek</string>
	</array>
	<key>_eight_l</key>
	<array>
		<string>eight'</string>
	</array>
	<key>_eight_r</key>
	<array>
		<string>eight'</string>
	</array>
	<key>_emdash_l</key>
	<array>
		<string>underscore'</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>_emdash_r</key>
	<array>
		<string>underscore'</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>_f_l</key>
	<array>
		<string>f'</string>
		<string>florin</string>
	</array>
	<key>_f_r</key>
	<array>
		<string>f'</string>
		<string>fi</string>
		<string>fl</string>
		<string>florin</string>
	</array>
	<key>_guillemetleft_l</key>
	<array>
		<string>guilsinglleft'</string>
	</array>
	<key>_guillemetleft_r</key>
	<array>
		<string>guilsinglleft'</string>
	</array>
	<key>_guillemetright_l</key>
	<array>
		<string>guilsinglright'</string>
	</array>
	<key>_guillemetright_r</key>
	<array>
		<string>guilsinglright'</string>
	</array>
	<key>_i_l</key>
	<array>
		<string>i'</string>
		<string>iogonek</string>
	</array>
	<key>_i_r</key>
	<array>
		<string>i'</string>
	</array>
	<key>_idieresis_l</key>
	<array>
		<string>icircumflex'</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
	</array>
	<key>_idieresis_r</key>
	<array>
		<string>icircumflex'</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
	</array>
	<key>_j_l</key>
	<array>
		<string>j'</string>
	</array>
	<key>_j_r</key>
	<array>
		<string>j'</string>
	</array>
	<key>_k_l</key>
	<array>
		<string>k'</string>
		<string>kcommaaccent</string>
	</array>
	<key>_k_r</key>
	<array>
		<string>h'</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>thorn</string>
	</array>
	<key>_l_l</key>
	<array>
		<string>l'</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>fl</string>
	</array>
	<key>_n_l</key>
	<array>
		<string>h'</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
	</array>
	<key>_n_r</key>
	<array>
		<string>dotlessi'</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncommaaccent</string>
		<string>p</string>
		<string>r</string>
		<string>racute</string>
	</array>
	<key>_o_l</key>
	<array>
		<string>b'</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>_o_r</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>aogonek</string>
		<string>ae</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>g</string>
		<string>gcommaaccent</string>
		<string>o</string>
		<string>oacute</string>
		<string>oslash</string>
		<string>oe</string>
		<string>q</string>
	</array>
	<key>_odieresis_r</key>
	<array>
		<string>abreve'</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>amacron</string>
		<string>atilde</string>
		<string>ccaron</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>gbreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>omacron</string>
		<string>otilde</string>
	</array>
	<key>_ograve_r</key>
	<array>
		<string>agrave'</string>
		<string>aring</string>
		<string>egrave</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
	</array>
	<key>_period_l</key>
	<array>
		<string>comma'</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>_period_r</key>
	<array>
		<string>comma'</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>_plus_l</key>
	<array>
		<string>approxequal'</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>infinity</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>notequal</string>
		<string>plus</string>
		<string>plusminus</string>
	</array>
	<key>_plus_r</key>
	<array>
		<string>approxequal'</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>infinity</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>notequal</string>
		<string>plus</string>
		<string>plusminus</string>
	</array>
	<key>_quotedblleft_l</key>
	<array>
		<string>quoteleft'</string>
	</array>
	<key>_quotedblleft_r</key>
	<array>
		<string>quoteleft'</string>
	</array>
	<key>_quotedblright_l</key>
	<array>
		<string>quotedblright'</string>
	</array>
	<key>_quotedblright_r</key>
	<array>
		<string>quotedblright'</string>
	</array>
	<key>_r_l</key>
	<array>
		<string>r'</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>_s_l</key>
	<array>
		<string>s'</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
	</array>
	<key>_s_r</key>
	<array>
		<string>s'</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
	</array>
	<key>_six_l</key>
	<array>
		<string>six'</string>
	</array>
	<key>_six_r</key>
	<array>
		<string>six'</string>
	</array>
	<key>_t_l</key>
	<array>
		<string>t'</string>
		<string>tcedilla</string>
		<string>uni021B</string>
	</array>
	<key>_t_r</key>
	<array>
		<string>t'</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>uni021B</string>
	</array>
	<key>_u_l</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>dotlessi</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>y</string>
		<string>yacute</string>
		<string>fi</string>
	</array>
	<key>_u_r</key>
	<array>
		<string>u'</string>
		<string>uogonek</string>
	</array>
	<key>_udieresis_l</key>
	<array>
		<string>ydieresis'</string>
	</array>
	<key>_udieresis_r</key>
	<array>
		<string>ncaron'</string>
		<string>ntilde</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>umacron</string>
		<string>uring</string>
	</array>
	<key>_ugrave_r</key>
	<array>
		<string>uacute'</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
	</array>
	<key>_v_l</key>
	<array>
		<string>v'</string>
	</array>
	<key>_v_r</key>
	<array>
		<string>v'</string>
	</array>
	<key>_w_l</key>
	<array>
		<string>w'</string>
	</array>
	<key>_w_r</key>
	<array>
		<string>w'</string>
	</array>
	<key>_x_l</key>
	<array>
		<string>x'</string>
	</array>
	<key>_x_r</key>
	<array>
		<string>x'</string>
	</array>
	<key>_z_l</key>
	<array>
		<string>z'</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>_z_r</key>
	<array>
		<string>z'</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>_zero_l</key>
	<array>
		<string>zero'</string>
	</array>
	<key>_zero_r</key>
	<array>
		<string>zero'</string>
	</array>
</dict>
</plist>
